.button {
  background: #fff;
  color: #000;
  border: none;
  outline: none;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.3s;
}

.button:hover {
  background: rgb(165, 165, 165);
}

.disabled {
  background: rgb(75, 74, 74);
}
