.dropdownContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
  font-size: 0.8rem;
}

.dropdown {
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.options {
  border: 1px solid #fff;
  font-weight: 300;
  position: absolute;
  box-sizing: border-box;
  top: 40px;
  background-color: black;
  padding: 0 10px;
  width: 100%;
}

.options span {
  display: block;
  margin: 8px 0;
}
